@font-face {
    font-family: "Aleo";
    src: url("fonts/Aleo/Aleo-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Marga";
    src: url("fonts/Magra/Magra-Regular.ttf");
}

@font-face {
    font-family: "Red_Hat_Text";
    src: url("fonts/Red_Hat_Text/RedHatText-VariableFont_wght.ttf");
}

*{
    color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    text-decoration: none;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 500;
    margin: 0px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

body{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}

header{
    display: flex;
    align-items: center;
    width: 1440px;
    height: 90px;
    background-position-x: center;
    background-color: rgba(242, 120, 92, 0.7);
    padding: 0px 120px 0px;
    
}

nav, .search{
    width: 527px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Red_Hat_Text";
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0px 196px 0px 158px;
}

button{
    border-radius: 10px;
    background-color: rgba(13, 96, 111, 1);
    border: none;
}

.background_image{
    background-repeat: no-repeat;
}

.logo{
    display: flex;
    align-items: center;
    width: 216px;
    height: 31px;  
}

.logo h2{
    margin: 0px 0px 0px 6px;
    text-align: start;
    font-family: "Marga";
    font-weight: 600;
    font-size: 32px;
    color: rgba(255, 255, 255, 1);
}

header button{
    width: 103px;
    height: 41px;
    font-family: "Red_Hat_Text";
    font-size: 16px;
}

.plan_your_trip{
    width: 892px;
    height: 422px;
    margin-top: 42px;
    margin-left: 120px;
    margin-bottom: 301px;
}

.plan_your_trip h1{
    font-family: "Aleo";
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 46px;
}

.plan_your_trip p{
    font-family: "Aleo";
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 46px;
}

.search{
    width: 892px;
    height: 95px;
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    padding: 0px 18px 0px;
}

.search h3{
    font-family: "Aleo";
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    color: rgba(242, 120, 92, 1);
    margin-left: 29px;
}

.search button{
    width: 288px;
    height: 59px;
    font-family: "Red_Hat_Text";
    font-weight: 500;
    font-size: 24px;
}

h2{
    text-align: center;
    font-family: "Red_Hat_Text";
    margin-bottom: 40px;
    color: rgba(242, 120, 92, 1);
    font-weight: 500;
    font-size: 40px;
}

.frame27{
    margin-bottom: 97px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1177px;
    height: 154px;
}

.frame__{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.frame__ h3{
    font-family: "Aleo";
    margin-top: 30px;
    color: rgba(13, 96, 111, 1);
    font-weight: 400;
    font-size: 20px;
}

.destinations{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2520px;
    height: 1042px;
    padding: 0px;
    margin-bottom: 80px;
}

.destinations_images{
    margin: 0px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    width: 2520px;
    height: 800px;
}

.destinations_images img{
    border-radius: 16px;
}

.elipsebox{
    display: flex;
    justify-content: space-between;
    width: 80px;
    height: 20px;
    margin-bottom: 40px;
}

.circle, .main_circkle{
    background-color: rgba(242, 120, 92, 0.5);
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.main_circkle{
    background-color: rgba(242, 120, 92, 1);
}

.destinations button, .stories_block button{
    width: 228px;
    height: 59px;
    font-family: "Red_Hat_Text";
    font-weight: 500;
    font-size: 24px;
}

.imagelistobj{
    border-radius: 16px;
    width: 800px;
    height: 800px;
    font-family: "Red_Hat_Text";
    font-weight: 500;
    font-size: 32px;
    padding-top: 718px;
    padding-left: 15px;
}

.stories_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 1270px;
}

.onestory{
    display: flex;
    margin-top: 30px;
    width: 1200px;
    height: 250px;
    
}

.onestory img{
    margin-right: 40px;
    border-radius: 16px;
}

.onestory p{
    font-family: "Aleo";
    font-weight: 400;
    font-size: 20px;
    color: rgba(13, 96, 111, 1);
}

span{
    display: block;
    font-family: "Aleo";
    font-weight: 400;
    font-size: 35px;
    color: rgba(13, 96, 111, 1);
}

.read_more{
    font-family: "Aleo";
    font-weight: 700;
    font-size: 20px;
    color: rgba(13, 96, 111, 1);
    text-decoration: underline;
    text-decoration-style: solid;
}

.stories .stories_block{
    background-color: rgba(255, 255, 255, 0.7);
}


footer{
    text-align: center;
    padding: 19px;
    width: 1440px;
    height: 61px;
}

footer p{
    font-family: "Red_Hat_Text";
    font-weight: 500;
    font-size: 16px;
    padding: 0px;
}